{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Votre cours{% endblock %}

{% block body %}
    <main class="container course">
        <section id="detail">
            <h2 class="my-5">{{ course.name }}</h2>
            {# TABS #}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#postcomments">Postez un commentaire</a>
                </li>
            </ul>
            {# Contents #}
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/') ~ course.image }}" alt="{{ course.name }}">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <p class="description">
                                Cours créé le {{ course.createdAt|date('d/m/Y') }}<br>
                                Prix: {{ course.price }}&euro;<br>
                                Durée: {{ course.duration }} minutes<br>
                                Catégorie: {{ course.category.name }}<br>
                                Horaire: {{ course.schedule }}<br>
                                Niveau: <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{ course.level.prerequisite }}">
                                    {{ course.level.name }}
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="details">
                    <h4>Description complète</h4>
                    <p>{{ course.fullDescription }}</p>
                    <p><a href="{{ asset('img/pdf/') ~ course.program }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>
                <div class="tab-pane fade" id="comments">
                    <div class="row mb-1">
                        {% if course.comments|length() >= 1 %}
                            <div class="col-md-1">
                                <h4><span class="badge bg-secondary"><i class="icofont-comment"></i> : {{ course.comments|length() }}</span></h4>
                            </div>
                        {% endif %}

                        {% if course.comments|length >= 2 %}
                            <div class="col-md-1">
                                <h4><span class="badge bg-secondary"><i class="icofont-star"></i> : {{ moyenne }}</span></h4>
                            </div>
                        {% endif %}
                    </div>

                    {% for comment in course.comments %}
                    <h5>{{ comment.title|capitalize }}</h5>
                    <h6>{{ comment.author.firstName }} {{ comment.author.lastName }}</h6>
                    <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('d/m/Y')}} &nbsp;&nbsp;
                        {# Notation par étoiles #}
                        {% include 'partials/rating.html.twig' %}
                    </h6>
                    <p>{{ comment.comment }}</p>
                    <hr>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="postcomments">
                        <div class="row justify-content-center">
                            <div>
                                {% if not is_granted('ROLE_USER') %}
                                    <h4>Vous devez être connecté</h4>
                                    <p>&nbsp;</p>
                                    <a href="" class="btn btn-outline-primary">Login</a> <a href="" class="btn btn-outline-primary">S'enregistrer</a>
                                {% elseif usercomment == true %}
                                    <h4>Vous avez atteint la limite de commentaires autorisés pour ce cours!</h4>
                                {% else %}

                                    {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <input type="submit" value="Publier le commentaire" class="btn btn-primary form-control">
                                    {{ form_end(form) }}
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}