{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}À propos{% endblock %}

{% block body %}
    <main class="container">
        <section id="news">
            <h2 class="my-5 text-black-50">Qui sommes-nous?</h2>
            <div class="row d-flex align-items-center">
                <!-- /col -->
                <div class="col-md-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut autem, consectetur
                        corporis cumque doloribus dolorum fuga fugiat in, nisi nulla quae quasi reiciendis vero
                        voluptatibus? Aperiam earum exercitationem harum inventore ipsum iusto, magnam maiores non
                        officiis, optio placeat quaerat ratione repellat tempora tempore tenetur veritatis voluptatem.
                        Error, harum, rerum!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque consectetur, consequuntur
                        debitis enim fuga ipsum magnam neque nobis obcaecati officia, officiis perspiciatis reiciendis
                        rem sed temporibus, ut? Cum, quasi?</p>
                </div>

                <div class="col-md-5">
                    <img class="img-fluid" src="https://cdn.dopewp.com/media/svg/manypixels/looking_for_idea_with_team.svg" alt="">
                </div>
            </div>
        </section>
    </main>
{% endblock %}