{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}L'équipe{% endblock %}

{% block body %}
    <main class="container">
        <section id="team">
            <h2 class="my-5 text-black-50">Notre équipe</h2>
            <!-- Team Cards Start -->
            <div class="row">
                {% for admin in admins %}
                    <div class="col-lg-6 col-md-12 mb-3">
                        <div class="card mb-5" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/admins/') ~ admin.image }}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ admin.firstName }} {{ admin.lastName }}</h5>
                                        <h6>ADMIN</h6>
                                        <p class="card-text">{{ admin.quote }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
