{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/slider/slider01.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider02.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider03.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- End Slider -->

<!-- Latest courses -->
<main class="container">
    <section class="home-courses">
        <h2 class="my-5 text-black-50">Nos dernières formations</h2>
        <div class="row">
            {% for course in courses %}
            <div class="col-md-4">
                <div class="card" style="height: 100%">
                    <img alt="" src="{{ asset('img/sections/') ~ course.image }}" style="height: 200px; width: 100%">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.smallDescription }}</p>
                        </div>
                        <a href="{{ path('course', {'slug': course.slug}) }}" class="btn btn-primary btn-sm mt-2">En savoir plus...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Latest courses -->

    <!-- Latest news -->
    <section class="home-news" id="home-news">
        <h2 class="my-5 text-black-50">Nos dernières actualités</h2>
        <div class="row">
            {% for new in news %}
            <div class="col-md-6 mb-4">
                <div class="card mb-3 p-4" style="height: 100%">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('img/news/') ~ new.image }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ new.name }}</h5>
                                <p class="card-text">{{ new.content }}</p>
                                <p class="card-text"><small class="text-muted">{{ new.createdAt|date('d/m/Y') }}</small></p>
                                <p class="float-end"><small><a href="#home-news">Lire plus...</a></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Latest news -->

    <!-- Cool Links -->
    <section>
        <h2 class="my-5 text-black-50">Informations importantes</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-calendar"></i> HORAIRES</div>
                    <div class="card-body">
                        <h4 class="card-title">Horaires de 2019-2020</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-info-square"></i> INFORMATIONS</div>
                    <div class="card-body">
                        <h4 class="card-title">Scéance d'informations</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-ui-edit"></i> INSCRIPTION</div>
                    <div class="card-body">
                        <h4 class="card-title">Documents d'inscription</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cool Links -->
</main>
{% endblock %}
