{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}S'enregistrer{% endblock %}

{% block body %}
    <div class="main">
        <section class="container">
            <div class="col-md-8 offset-2">
                <h2 class="display-4">S'enregistrer</h2>
                {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm) }}
                <button type="submit" class="btn btn-outline-primary w-100">S'enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </section>
    </div>
{% endblock %}
