{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profs{% endblock %}

{% block body %}
    <main class="container">
        <section id="teachers">
            <h2 class="my-5 text-black-50">Les professeurs</h2>
            <!-- Teacher Cards Start -->
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-lg-6 col-md-12 mb-3">
                        <div class="card mb-5" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/teachers/') ~ teacher.image }}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div>
                                            <h5 class="card-title">{{ teacher.firstName }} {{ teacher.lastName }}</h5>
                                            <h6>TEACHER</h6>
                                            <p class="card-text">{{ teacher.quote }}</p>
                                        </div>
                                        <a class="link-info teachers-links" data-bs-container="body" data-bs-toggle="popover" title="Liste des cours" data-bs-placement="bottom" data-bs-content="{% for course in teacher.courses %}
                                            - {{ course.name }}<br>
                                        {% endfor %}">
                                            Les cours que je donne
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Teacher Cards End -->
        </section>
    </main>
{% endblock %}

