{# Navigation #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link" target="_blank">Website</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{# Affichage du message flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
{# End navigation #}