<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2 class="my-5 text-muted">Options</h2>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> {{app.user.firstName}} {{app.user.lastName}}</h4>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                {# Courses #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="icofont-page"></i> Les cours
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin_courses') }}">Gestion des formations</a><br>
                            <a href="{{ path('admin_new_course') }}">Ajouter une formation</a>
                        </div>
                    </div>
                </div>
                {# Comments #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icofont-speech-comments"></i> Les commentaires
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin_comments') }}">Gestion des commentaires</a>
                        </div>
                    </div>
                </div>
                {# News #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icofont-news"></i> News
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin_news') }}">Gestion des news</a><br>
                            <a href="{{ path('admin_new_news') }}">Ajouter une news</a>
                        </div>
                    </div>
                </div>
                {# Users #}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="icofont-user-alt-6"></i> Les utilisateurs
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <a href="{{ path('admin_users') }}">Gestion des utilisateurs</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">