{% extends 'admin/base.html.twig' %}

{% block title %} {{parent()}}New course {% endblock %}

{% block body %}
    <section class="row">
        <h2 class="display-5 my-4">Ajouter une formation</h2>
        <div class="col-md-9 offset-1">
            {{ form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-outline-secondary">Ajouter la formation</button>
            {{form_end(form)}}
        </div>
    </section>
{% endblock %}