{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Users{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des utilisateurs</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Image</td>
            <td>Nom</td>
            <td>Création du compte</td>
            <td>Email</td>
            <td>Role</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img src="{{ asset('img/avatar/') ~ user.image }}"  alt="{{ user.lastName }}" class="admin-img"></td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.createdAt |date('d/m/Y') }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles | json_encode }}</td>
                <td>
                    <a href="" class="btn btn-success"><i class="icofont-ui-edit"></i></a>&nbsp;
                    {% if user.isdisabled %}
                        <a href="" class="btn btn-light"><i class="icofont-eye-open"></i></a>
                    {% else %}
                        <a href="" class="btn btn-light"><i class="icofont-eye-blocked"></i></a>
                    {% endif %}
                    <a href="{{ path('admin_user_promote', {id: user.id, role: "ROLE_USER"}) }}" class="btn btn-outline-secondary {% if user.roles == ['ROLE_USER'] %} disabled {% endif %}">U</a>
                    <a href="{{ path('admin_user_promote', {id: user.id, role: "ROLE_ADMIN"}) }}" class="btn btn-outline-secondary {% if user.roles == ['ROLE_ADMIN'] %} disabled {% endif %}">A</a>
                    <a href="{{ path('admin_user_promote', {id: user.id, role: "ROLE_SUPER_ADMIN"}) }}" class="btn btn-outline-secondary {% if user.roles == ['ROLE_SUPER_ADMIN'] %} disabled {% endif %}">SA</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}