{% extends 'admin/base.html.twig' %}

{% block title %} {{parent()}}Modify news {% endblock %}

{% block body %}
    <section class="row">
        <h2 class="display-5 my-4">Modifier une news</h2>
        <div class="col-md-9 offset-1">
            {{ form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-outline-secondary">Modifier la news</button>
            {{form_end(form)}}
        </div>
    </section>
{% endblock %}