{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}News{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des news</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Image</td>
            <td>Nom</td>
            <td>Auteur</td>
            <td>Crée le</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td><img src="{{ asset('img/news/') ~ new.image }}"  alt="{{ new.name }}" class="admin-img"></td>
                <td>{{ new.name }}</td>
                <td>{{ new.author.firstName }} {{ new.author.lastName }}</td>
                <td>{{ new.createdAt|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('admin_edit_news', {'id': new.id}) }}" class="btn btn-success"><i class="icofont-ui-edit"></i></a>&nbsp;
                    <a href="{{ path('admin_del_news', {'id': new.id}) }}" class="btn btn-danger"><i class="icofont-ui-delete"></i></a>&nbsp;
                    {% if new.isPublished %}
                        <a href="{{ path('admin_view_news', {'id': new.id}) }}" class="btn btn-light"><i class="icofont-eye-open"></i></a>
                    {% else %}
                        <a href="{{ path('admin_view_news', {'id': new.id}) }}" class="btn btn-light"><i class="icofont-eye-blocked"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}