{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Actualités{% endblock %}

{% block body %}
<main class="container">
    <section id="news">
        <h2 class="my-5 text-black-50">Nos actualités</h2>
        {% for new in news %}
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card m-3">
                        <div class="card-header bg-light">
                            <h5>{{ new.name }}</h5>
                        </div>
                        <div class="card-body row justify-content-start">
                            <div class="col-md-2">
                                <img alt="" src="{{ asset('img/news/') ~ new.image }}" style="max-width: 150px">
                            </div>
                            <div class="col-md-8 offset-1">
                                <p>{{ new.content }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6>Created at: {{ new.createdAt|date("d/m/Y") }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {# display navigation #}
        <div class="d-flex justify-content-center my-3">
            <div class="navigation">
                {{ knp_pagination_render(news) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}
