{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Contact{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="display-4 my-4">Nous contacter</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary w-100">Envoyer</button>
            </div>
        </section>
    </main>
{% endblock %}
