{% apply inline_css %}
    <style>
        h1 {
            color: #333;
            font-size: 1.2rem;
        }
        p{
            color: #2f2f2c;
        }
    </style>

    <h1>{{ contact.subject }}</h1>

    <p>de: {{ contact.firstName }} {{ contact.lastName }}</p>
{% endapply %}