{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Comments{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des commentaires</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Titre</td>
            <td>Crée le</td>
            <td>Auteur</td>
            <td>Cours</td>
            <td>Note</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.title }}</td>
                <td>{{ comment.createdAt|date("d/m/Y") }}</td>
                <td>{{ comment.author.firstName }} {{ comment.author.lastName }}</td>
                <td>{{ comment.course.name }}</td>
                <td>{{ comment.rating }}</td>
                <td>
                    <a href="{{ path('admin_del_comment', {'id': comment.id}) }}" class="btn btn-danger"><i class="icofont-ui-delete"></i></a>&nbsp
                    {% if comment.isPublished %}
                        <a href="{{ path('admin_view_comment', {'id': comment.id}) }}" class="btn btn-light"><i class="icofont-eye-open"></i></a>
                    {% else %}
                        <a href="{{ path('admin_view_comment', {'id': comment.id}) }}" class="btn btn-light"><i class="icofont-eye-blocked"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}