{% extends 'base.html.twig' %}

{% block title %} Modification du password{% endblock %}

{% block body %}
    <main class="container">
        <div class="col-md-8 offset-2">
            <h2 class="display-4 my-5">Modifier votre mot de passe</h2>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary w-100">Modifier</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}