{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Mon compte{% endblock %}

{% block body %}
<main class="container">
    <section id="profile">
        <!-- USER'S CARD -->
        <div class="row mt-5">
            <!-- USER'S ROLE -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if app.user.roles == "ROLE_USER" %}
                                <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="" class="rounded-circle" width="150">
                            {% else %}
                                <img src="{{ asset('img/admins/') ~ app.user.image }}" alt="" class="rounded-circle" width="150">
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{ app.user.firstName }} {{ app.user.lastName }}</h4>
                                {% if is_granted('ROLE_SUPER_ADMIN') %} <span class="text-uppercase text-secondary mb-1">Super-Admin</span>
                                {% elseif is_granted('ROLE_ADMIN') %} <span class="text-uppercase text-secondary mb-1">Admin</span>
                                {% elseif is_granted('ROLE_TEACHER') %} <span class="text-uppercase text-secondary mb-1">Teacher</span>
                                {% elseif is_granted('ROLE_USER') %} <span class="text-uppercase text-secondary mb-1">Utilisateur</span>
                                {% endif %}
                            </div>
                            <div class="mt-3">
                                <p>"{{ app.user.quote }}"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- USER'S INFOS -->
            <div class="col-md-8">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom complet</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ app.user.firstName }} {{ app.user.lastName }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ app.user.email }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Inscrit depuis le</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ app.user.createdAt|date('d/m/Y') }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dernière connexion</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ app.user.lastLogAt|date('d/m/Y') }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-outline-secondary " href="{{ path('edit_profil') }}">Modifier le profil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- USER'S COMMENTS -->
        <div class="row mt-5">
            <h2 class="my-5 text-black-50">Mes commentaires <span class="badge bg-secondary">{{ app.user.comments|length }}</span></h2>

            <div class="card-body">
                <!-- COMMENT(s) -->
                {% for comment in app.user.comments %}
                    <div class="border border-light p-2 mb-3">
                        <div class="d-flex align-items-start">
                            {% if app.user.roles == "ROLE_USER" %}
                                <img class="me-2 avatar-sm rounded-circle" src="{{ asset('img/avatar/') ~ app.user.image }}" alt="" class="rounded-circle" width="50">
                            {% else %}
                                <img class="me-2 avatar-sm rounded-circle" src="{{ asset('img/admins/') ~ app.user.image }}" alt="" class="rounded-circle" width="50">
                            {% endif %}
                            <div class="w-100">
                                <h5>{{ comment.title|capitalize }} <small class="text-muted"> {{ comment.createdAt|date('d/m/Y')}}</small></h5>
                                <h6>{% include 'partials/rating.html.twig' %}</h6>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
